@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .encabezado{
    background-color: lightskyblue;
    align-items: center;
  }
.row{
    display: flex;
    flex-wrap: wrap;
}
.productos{
    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    color: black;
    width: 280px;
    height: 510px;
    box-shadow: 6px 3px 10px grey;
    border-radius: 10px;
    background-color: lightskyblue;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    gap:20px;
    
    img{
        margin-top: 5px;
        height: 160px;
        width: 160px;
        padding-top: 3px;
        border-top-left-radius: 20%;
        border-bottom-right-radius: 20%;
        /* max-width: 100%; */
    }
    .card-body{
        align-items: center;
        text-align: center;
        
        .card-title{
            align-items: center;
        };
        .espaciado{
            padding-top: 0px;
        }
    }
}

.carrito{
    align-items: center;
    color: black;
    text-align: center;
    background-color: lightskyblue;
    /* border-color: blue;
    border-style: solid; */
    padding-top: 20px;
    padding-bottom: 20px;
    ul {
        list-style: none;
    }
}

